<h1>Eldest Director</h1>
The youngest director in our dataset right now is <a href="/directors/<%=@eldest_director.id%>"><%= @eldest_director.name %></a>, born on <%= @eldest_dob_strftime %>.
<br>
<br>
